{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set vpcName = deployment + "-gke-network" %}
{% set publicSubnet = deployment + "-" +  region  + '-public-subnet' %}
{% set privateSubnet = deployment + "-" +  region + '-private-subnet' %}

{% set publicSubnetCIDR = properties["publicSubnetCIDR"] %}
{% set privateSubnetCIDR = properties["privateSubnetCIDR"] %}

resources:
# GCP Custom Network
- name: {{ vpcName }}
  type: compute.v1.network
  properties:
    name: {{ vpcName }}
    description: {{ vpcName }}
    autoCreateSubnetworks: {{ properties["autoCreateSubnetworks"] }}

outputs:
- name: Boomi-VpcName
  value: $(ref.{{ vpcName }}.name)

- name: Boomi-VpcSelfLink
  value: $(ref.{{ vpcName }}.selfLink)
