{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set vpcName = "%s-network" % env["deployment"] %}
{% set region = properties["region"] %}
{% set publicSubnet= "public" %}
{% set privateSubnet= "private" %}
{% set publicSubnetCIDR = properties["publicSubnetCIDR"] %}
{% set privateSubnetCIDR = properties["privateSubnetCIDR"] %}

resources:
# GCP Custom Network
- name: {{ vpcName }}
  type: compute.v1.network
  properties:
    name: {{ vpcName }}
    autoCreateSubnetworks: false

# GCP Public Subnets
- name: {{ publicSubnet }}
  type: compute.v1.subnetwork
  properties:
    name: {{ publicSubnet }}
    network: $(ref.{{ vpcName }}.selfLink)
    ipCidrRange: {{ publicSubnetCIDR }}
    region: {{ region }}

# GCP Private Subnets
- name: {{ privateSubnet }}
  type: compute.v1.subnetwork
  properties:
    name: {{ privateSubnet }}
    network: $(ref.{{ vpcName }}.selfLink)
    ipCidrRange: {{ privateSubnetCIDR }}
    region: {{ region }}

# GCP Firewall Rules
- name: {{ deployment + '-firewall-allow-bastion' }}
  type: compute.v1.firewall
  properties:
    name: {{ deployment + '-firewall-allow-bastion' }}
    network: $(ref.{{ vpcName }}.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: [22, 3389]
    targetTags: 
    - bastion-machine

- name: {{ deployment + '-firewall-allow-http-https' }}
  type: compute.v1.firewall
  properties:
    name: {{ deployment + '-firewall-allow-http-https' }}
    network: $(ref.{{ vpcName }}.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: [80, 443]

- name: {{ deployment + '-firewall-allow-icmp' }}
  type: compute.v1.firewall
  properties:
    name: {{ deployment + '-firewall-allow-icmp' }}
    network: $(ref.{{ vpcName }}.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: ICMP
      ports: []

- name: {{ deployment }}-{{ region }}-cloud-router
  type: compute.v1.router
  properties:
    name: {{ deployment }}-{{ region }}-cloud-router
    description: route with default internet gateway
    network: $(ref.{{ vpcName }}.selfLink)
    region: {{ region }}
    nats:
    - name: {{ env["name"] }}-{{ region }}-nat
      natIpAllocateOption: "AUTO_ONLY"
      sourceSubnetworkIpRangesToNat: "LIST_OF_SUBNETWORKS"
      subnetworks: 
      - name: $(ref.{{ privateSubnet }}.selfLink)
        sourceIpRangesToNat: ["PRIMARY_IP_RANGE"]