# Copyright 2020 Dell Boomi. All rights reserved.

{% import "path_utils.jinja" as path_utils with context %}

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = path_utils.zoneToRegion(properties["zone"]) %}
{% set zone = properties["zone"] %}
{% set machineType = properties["machineType"] %}
{% set bootDiskType = properties["bootDiskType"] %}

{% set enableRegionalGKECluster = "Regional" if properties["enableRegionalGKECluster"] else "Zonal" %}
{% set gkeMachineType = properties["gkeMachineType"] %}
{% set maxNodePerZone = properties["maxNodePerZone"] %}
{% set diskSizeGb = properties["diskSizeGb"] %}

{% set boomiUserEmailID = properties["boomiUserEmailID"] %}
{% set boomiPassword = properties["boomiPassword"] %}
{% set boomiAccountID = properties["boomiAccountID"] %}
{% set helmGITRepoURL = properties["helmGITRepoURL"] %}

{% set network = path_utils.networkPath(properties["network"]) %}
{% set gkeSubetwork = path_utils.subnetworkPath(zone, properties["gkeSubetwork"]) %}
{% set vmSubnetwork = path_utils.subnetworkPath(zone, properties["vmSubnetwork"]) %}

{% set externalIPs = properties["externalIP"] %}
{% set bootDiskType = properties["bootDiskType"] %}
{% set bootDiskSizeGb = properties["bootDiskSizeGb"] %}

resources:

- name: {{ deployment }}-static-ip
  type: static_address.py

- name: {{ deployment }}-bastion-sa
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ deployment }}-bastion
    projectId: {{ project }}
    displayName: Bastion Service Account

- name: {{ deployment }}-gke-sa
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ deployment }}-gke-cluster
    projectId: {{ project }}
    displayName: GKE Cluster Service Account

- name: {{ deployment }}-enableApis
  type: apis.py
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    apis:
      - name: cloudResourceManagerApi
        serviceName: cloudresourcemanager.googleapis.com
      - name: endpointsApi
        serviceName: endpoints.googleapis.com
      - name: iamApi
        serviceName: iam.googleapis.com
      - name: containerApi
        serviceName: container.googleapis.com
      - name: gkeconnectApi
        serviceName: gkeconnect.googleapis.com
      - name: computeApi
        serviceName: compute.googleapis.com
      - name: secretApi
        serviceName: secretmanager.googleapis.com

- name: {{ deployment }}-iam-member
  type: iam_member.py
  properties:
    roles:
      - role: roles/container.admin
        members:
          - "serviceAccount:$(ref.{{ deployment }}-bastion-sa.email)"
          - "serviceAccount:$(ref.{{ deployment }}-gke-sa.email)"
          - {{ 'serviceAccount:' + env['project_number'] + '@cloudbuild.gserviceaccount.com' }}
      - role: roles/compute.instanceAdmin
        members:
          - "serviceAccount:$(ref.{{ deployment }}-bastion-sa.email)"
          - "serviceAccount:$(ref.{{ deployment }}-gke-sa.email)"
      - role: roles/storage.admin
        members:
          - "serviceAccount:$(ref.{{ deployment }}-bastion-sa.email)"
          - "serviceAccount:$(ref.{{ deployment }}-gke-sa.email)"
      - role: roles/secretmanager.secretAccessor
        members:
          - {{ 'serviceAccount:' + env['project_number'] + '@cloudbuild.gserviceaccount.com' }}
      - role: roles/container.clusterAdmin
        members:
          - {{ 'serviceAccount:' + env['project_number'] + '@cloudbuild.gserviceaccount.com' }}
          - "serviceAccount:$(ref.{{ deployment }}-bastion-sa.email)"
      - role: roles/editor
        members:
          - {{ 'serviceAccount:' + env['project_number'] + '@cloudbuild.gserviceaccount.com' }}

- name: {{ deployment }}-firewall
  type: firewall.py
  properties:
    network: {{ network }}
    rules:
      - name: {{ deployment }}-allow-ssh-to-bastion
        description: Allow SSH from anywhere to Bastion
        allowed:
          - IPProtocol: tcp
            ports:
              - "22"
              - "3389"
        direction: INGRESS
        sourceRanges:
          - 0.0.0.0/0
        targetTags:
          - bastion
      {% if properties["enableTcp80"] %}
      - name: {{ deployment }}-allow-http
        description: Allow HTTP/HTTPS from anywhere
        allowed:
          - IPProtocol: tcp
            ports:
              - "80"
        direction: INGRESS
        {% if properties.get("tcp80SourceRanges") %}
        sourceRanges:
          {% for source in properties["tcp80SourceRanges"].split(',') %}
          - '{{ source | trim }}'
          {% endfor %}
        {% else %}
        sourceRanges:
          - 0.0.0.0/0
        {% endif %}
      {% endif %}
      {% if properties["enableTcp443"] %}
      - name: {{ deployment }}-allow-https
        description: Allow HTTP/HTTPS from anywhere
        allowed:
          - IPProtocol: tcp
            ports:
              - "443"
        direction: INGRESS
        {% if properties.get("tcp443SourceRanges") %}
        sourceRanges:
          {% for source in properties["tcp443SourceRanges"].split(',') %}
          - '{{ source | trim }}'
          {% endfor %}
        {% else %}
        sourceRanges:
          - 0.0.0.0/0
        {% endif %}
      {% endif %}
      - name: {{ deployment }}-allow-icmp
        description: Allow ICMP from anywhere
        allowed:
          - IPProtocol: ICMP
        direction: INGRESS
        sourceRanges:
          - 0.0.0.0/0

- name: {{ deployment }}-cloud-filestore
  type: cloud_filestore.py
  properties:
    description: {{ deployment }} File Store
    location: {{ zone }}
    tier: STANDARD
    fileShares:
      - name: boomifileshare
        capacityGb: 1024
    networks:
      - network: {{ properties["network"] }}

- name: {{ deployment }}-gke-cluster
  type: gke.py
  properties:
    clusterLocationType: {{ enableRegionalGKECluster }}
    region: {{ region }}
    zone: {{ zone }}
    cluster:
      name: {{ deployment }}-gke-cluster
      description: {{ deployment }} k8s Cluster
      network: {{ properties["network"] }}
      subnetwork: {{ gkeSubetwork }}
      initialClusterVersion: 1.17.14-gke.1200
      addonsConfig:
        httpLoadBalancing:
          disabled: false
      nodePools:
        - name: {{ deployment }}-gke-pool
          {% if properties["enableRegionalGKECluster"] == True %}
          initialNodeCount: 1
          {% else %}
          initialNodeCount: 3
          {% endif %}
          version: 1.17.14-gke.1200
          config:
            machineType: {{ gkeMachineType }}
            diskSizeGb: {{ diskSizeGb }}
            serviceAccount: $(ref.{{ deployment }}-gke-sa.email)
            oauthScopes:
              - https://www.googleapis.com/auth/cloud-platform
            {% if properties["enableRegionalGKECluster"] == True %}
            workloadMetadataConfig:
              nodeMetadata: SECURE
            {% endif %}
          autoscaling:
            enabled: True
            {% if properties["enableRegionalGKECluster"] == True %}
            minNodeCount: 1
            {% else %}
            minNodeCount: 3
            {% endif %}
            maxNodeCount: {{ maxNodePerZone }}
          management:
            autoUpgrade: true
            autoRepair: true
      loggingService: logging.googleapis.com/kubernetes
      monitoringService: monitoring.googleapis.com/kubernetes
      privateClusterConfig:
        enablePrivateNodes: true
        enablePrivateEndpoint: false
        masterIpv4CidrBlock: {{ properties["gkeClusterAuthorizedNetworkCidr"] }}
      masterAuthorizedNetworksConfig: 
        enabled: false
        cidrBlocks: []
      ipAllocationPolicy:
        useIpAliases: True
      masterAuth:
        clientCertificateConfig:
          issueClientCertificate: false
      workloadIdentityConfig:
        workloadPool: {{ project }}.svc.id.goog
      networkPolicy:
        enabled: true
      maintenancePolicy:
        window:
          recurringWindow:
            window:
              startTime: "2020-11-01T07:00:25Z"
              endTime: "2030-12-31T07:00:25Z"
            recurrence: "FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU"

- name: {{ deployment }}-gke-cloudbuild
  type: cloudbuild.jinja
  properties:
    {% if properties["enableRegionalGKECluster"] == True %}
    region: {{ region }}
    {% else %}
    region: {{ zone }}
    {% endif %}
    helmGITRepoURL: {{ helmGITRepoURL }}
    boomiUserEmailID: {{ boomiUserEmailID }}
    boomiPassword: {{ boomiPassword }}
    boomiAccountID: {{ boomiAccountID }}
    network: {{ properties["network"] }}
    CLUSTER_NAME: $(ref.{{ deployment }}-gke-cluster.name)
    ipaddress: $(ref.{{ deployment }}-cloud-filestore.fileShareIp)
    ingressStaticIpName: $(ref.{{ deployment }}-static-ip.staticIpName)
    
- name: {{ deployment }}-bastion-instance
  type: bastion_instance.py
  properties:
    network: {{ network }}
    subnetworks: {{ vmSubnetwork }}
    {% if externalIPs is defined and externalIPs %}
    externalIPs:
      {% for externalIP in externalIPs %}
      - {{ externalIP }}
      {% endfor %}
    {% endif %}
    region: {{ region }}
    machineType: {{ machineType }}
    machineImage: centos-cloud/global/images/family/centos-7
    minSize: 1
    maxSize: 2
    bootDiskType: {{ bootDiskType }}
    bootDiskSizeGb: {{ bootDiskSizeGb }}
    serviceAccountEmail: $(ref.{{ deployment }}-bastion-sa.email)
    serviceAccountScopes:
      - 'https://www.googleapis.com/auth/cloud-platform'
      - 'https://www.googleapis.com/auth/compute'
      - 'https://www.googleapis.com/auth/cloud.useraccounts.readonly'
      - 'https://www.googleapis.com/auth/devstorage.read_only'
      - 'https://www.googleapis.com/auth/logging.write'
      - 'https://www.googleapis.com/auth/monitoring.write'
      - 'https://www.googleapis.com/auth/cloudruntimeconfig'
    tags:
      items:
        - bastion
    startupScript: |
      #!/bin/bash
      #### Log the execution to a file ####
      exec 3>&1 4>&2
      trap 'exec 2>&4 1>&3' 0 1 2 3 RETURN
      exec 1>/var/log/configure-bastion.log 2>&1

      set -x
      #install kubectl
      curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
      chmod +x ./kubectl
      sudo mv ./kubectl /usr/local/bin/kubectl
      kubectl version --client

      #mount filestore
      sudo yum -y update && sudo yum -y install nfs-utils
      sudo mkdir -p /mnt/boominfs
      sudo mount $(ref.{{ deployment }}-cloud-filestore.fileShareIp):/boomifileshare /mnt/boominfs

      export HOME='whoami'
      export KUBECONFIG=$HOME/.kube/config
