{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set CommonTags = properties["CommonTags"] %}

resources:
- name: enableApis
  type: apis.py
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    apis:
      - name: fileShareApi
        serviceName: file.googleapis.com
      - name: cloudResourceManagerApi
        serviceName: cloudresourcemanager.googleapis.com
      - name: endpointsApi
        serviceName: endpoints.googleapis.com
      - name: iamApi
        serviceName: iam.googleapis.com
      - name: containerApi
        serviceName: container.googleapis.com
      - name: gkeconnectApi
        serviceName: gkeconnect.googleapis.com
      - name: computeApi
        serviceName: compute.googleapis.com

- name: boomi-network
  type: network.py
  properties:
    name: boomi-network
    autoCreateSubnetworks: false
    subnetworks:
      - name: boomi-public-subnet
        region: {{ region }}
        ipCidrRange: 172.16.0.0/21
        privateIpGoogleAccess: true
        enableFlowLogs: false
      - name: boomi-private-subnet
        region: {{ region }}
        ipCidrRange: 172.16.8.0/21
        privateIpGoogleAccess: true
        enableFlowLogs: false

- name: boomi-firewall
  type: firewall.py
  properties:
    network: $(ref.boomi-network.selfLink)
    rules:
      - name: boomi-allow-ssh-to-bastion
        description: Allow SSH from anywhere to Bastion
        allowed:
          - IPProtocol: tcp
            ports:
              - "22"
              - "3389"
        direction: INGRESS
        sourceRanges:
          - 0.0.0.0/0
        targetTags:
          - bastion
      - name: boomi-allow-http-https
        description: Allow HTTP/HTTPS from anywhere
        allowed:
          - IPProtocol: tcp
            ports:
              - "80"
              - "443"
        direction: INGRESS
        sourceRanges:
          - 0.0.0.0/0
      - name: boomi-allow-icmp
        description: Allow ICMP from anywhere
        allowed:
          - IPProtocol: ICMP
        direction: INGRESS
        sourceRanges:
          - 0.0.0.0/0

- name: boomi-cloud-router
  type: cloud_router.py
  properties:
    name: boomi-cloud-router
    network: $(ref.boomi-network.selfLink)
    region: {{ region }}
    asn: 65001
    nat-name: boomi-nat

- name: cloud-filestore
  type: cloud_filestore.jinja
  properties:
    description: Boomi File Store
    location: {{ properties["zone"] }}
    tier: STANDARD
    fileShares:
      - name: boomifileshare
        capacityGb: 1024
    networks:
      - network: $(ref.boomi-network.vpcName)
  metadata:
    dependsOn:
      - fileShareApi
      - boomi-cloud-router

- name: boomi-gke-cluster
  type: gke.py
  properties:
    clusterLocationType: Regional
    region: {{ region }}
    cluster:
      name: boomi-gke-cluster
      description: Boomi k8s Cluster
      network: $(ref.boomi-network.vpcName)
      subnetwork: $(ref.boomi-private-subnet.selfLink)
      initialClusterVersion: 1.17.12-gke.1501
      nodePools:
        - name: boomi-gke-pool
          initialNodeCount: 1
          version: 1.17.12-gke.1501
          config:
            machineType: n1-standard-1
            oauthScopes:
              - https://www.googleapis.com/auth/compute
              - https://www.googleapis.com/auth/devstorage.read_only
              - https://www.googleapis.com/auth/logging.write
              - https://www.googleapis.com/auth/monitoring
          autoscaling:
            enabled: True
            minNodeCount: 1
            maxNodeCount: 2
          management:
            autoUpgrade: True
            autoRepair: True
      locations:
        - {{ region }}-a
        - {{ region }}-b
      loggingService: logging.googleapis.com/kubernetes
      monitoringService: monitoring.googleapis.com/kubernetes
      privateClusterConfig:
        enablePrivateNodes: True
        enablePrivateEndpoint: True
        masterIpv4CidrBlock: 172.16.0.0/28
      ipAllocationPolicy:
        useIpAliases: True
        clusterIpv4CidrBlock: 10.1.0.0/16
        servicesIpv4CidrBlock: 192.168.192.0/24
      masterAuth:
        clientCertificateConfig:
          issueClientCertificate: True

- name: bastion-instance
  type: bastion_instance.py
  properties:
    network: $(ref.boomi-network.selfLink)
    publicSubnet: $(ref.boomi-public-subnet.selfLink)
    region: us-central1
    machineType: n1-standard-2
    machineImage: centos-cloud/global/images/family/centos-7
    minSize: 1
    maxSize: 5
    startupScript: |
      #!/bin/bash
      #### Log the execution to a file ####
      exec 3>&1 4>&2
      trap 'exec 2>&4 1>&3' 0 1 2 3 RETURN
      exec 1>/var/log/configure-bastion.log 2>&1

      set -x
      #install kubectl
      curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
      chmod +x ./kubectl
      sudo mv ./kubectl /usr/local/bin/kubectl
      kubectl version --client

      #mount filestore
      sudo yum -y update && sudo yum -y install nfs-utils
      sudo mkdir -p /mnt/boominfs
      sudo mount $(ref.cloud-filestore.fileShareIp):/boomifileshare /mnt/boominfs

      export HOME='whoami'
      export KUBECONFIG=$HOME/.kube/config
