{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set CLUSTER_NAME = deployment + '-gke-cluster' %}
{% set CommonTags = properties["CommonTags"] %}

resources:
- name: boomi-network
  type: network.jinja
  properties:
    region: {{ properties["region"] }}
