# Copyright 2020 Dell Boomi. All rights reserved.
#
# path_utils.jinja
#
# Jinja macros for expanding short resource names into full paths
# Must have reference to the global env object, so when including this file,
# use the jinja import "with context" option.

{% macro zoneToRegion(zone) -%}
{{ zone.split('-')[0:2]|join('-') }}
{%- endmacro %}
