{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set zone = properties["zone"] %}

resources:

- name: enable-filestore-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: file.googleapis.com

- name: {{ deployment + '-filestore' }}
  type: gcp-types/file-v1beta1:projects.locations.instances
  properties:
    parent: {{ 'projects/' + env["project"] + '/locations/' + zone }}
    # Any name of the instance would do
    instanceId: {{ deployment + '-filestore' }}
    tier: STANDARD
    description: my description
    networks:
    - network: {{ properties["network"] }}
    fileShares:
    - name: {{ deployment + '-fs' }}
      capacityGb: {{ properties["size"] }}
  metadata:
    dependsOn:
      - enable-filestore-api