{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set bastionVM = "bastion-vm" %}
{% set region = properties["region"] %}
{% set CLUSTER_NAME = deployment + '-gke-cluster' %}


resources:
- name: {{ deployment }}-it
  type: compute.v1.instanceTemplate
  properties:
    zone: {{ properties["zone"] }}
    properties:
      serviceAccounts: 
      - email: {{ properties["boomisa"] }}
        scopes:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
        items:
        - bastion-machine
        - allow-ssh-rpd
        - {{ deployment }}
      machineType: {{ properties["machineType"] }}
      networkInterfaces:
      - network: {{ properties["network"] }}
        subnetwork: {{ properties["subnet"] }}
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        diskType: pd-ssd
        diskSizeGb: 30
        mode: READ_WRITE
        initializeParams:
          diskName: {{ deployment }}-vm-disk
          sourceImage: {{ properties["machineImage"] }}
      metadata:
        items:
        - key: startup-script
          value: |
            #!/bin/bash
            #### Log the execution to a file ####
            exec 3>&1 4>&2
            trap 'exec 2>&4 1>&3' 0 1 2 3 RETURN
            exec 1>/var/log/configure-bastion.log 2>&1

            set -x
            
            #install kubectl
            curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
            kubectl version --client

            #mount filestore
            sudo yum -y update && sudo yum -y install nfs-utils
            sudo mkdir -p /mnt/boominfs
            sudo mount  {{ properties["ipaddress"] }}:/boomifileshare /mnt/boominfs

            export HOME='whoami'
            export KUBECONFIG=$HOME/.kube/config

            #Get GKE credentials
            gcloud container clusters get-credentials {{ CLUSTER_NAME }} --region={{ region }} --project {{project}}

            echo "gcloud container clusters get-credentials {{ CLUSTER_NAME }} --zone {{ region }} --project {{project}}" >> /etc/profile

- name: {{ deployment }}-igm
  type: compute.v1.regionInstanceGroupManager
  properties:
    name: {{ deployment }}-igm
    region: {{ region }}
    failoverAction: NO_FAILOVER
    targetSize: {{ properties["targetSize"] }}
    baseInstanceName: {{ bastionVM }}
    instanceTemplate: $(ref.{{ deployment }}-it.selfLink)

- name: {{ deployment }}-as
  type: compute.v1.regionAutoscaler
  properties:
    region: {{ region }}
    target: $(ref.{{ deployment }}-igm.selfLink)
    autoscalingPolicy:
      maxNumReplicas: 2
      minNumReplicas: 1
      cpuUtilization:
        utilizationTarget: 0.8
      coolDownPeriodSec: 90
