{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set bastionVM = "bastion-vm" %}
{% set region = properties["region"] %}
{% set CLUSTER_NAME = deployment + '-gke-cluster' %}

{% set BASTION_VM_SA = deployment + '-bastion-vm' %}

resources:
- name: {{ BASTION_VM_SA }}
  type: gcp-types/iam-v1:projects.serviceAccounts
  properties:
    accountId: {{ BASTION_VM_SA }}
    displayName: Service Account used for Kubeflow admin actions.
  accessControl:
    gcpIamPolicy:
    bindings:
    - role: roles/container.admin
      members:
      - {{ 'serviceAccount:' + env['project_number'] + '@cloudservices.gserviceaccount.com' }}
    - role: roles/container.clusterAdmin
      members:
      - {{ 'serviceAccount:' + BASTION_VM_SA + '@' + env['project'] + '.iam.gserviceaccount.com' }}
    - role: roles/container.admin
      members:
      - {{ 'serviceAccount:' + BASTION_VM_SA + '@' + env['project'] + '.iam.gserviceaccount.com' }}


- name: {{ deployment }}-it
  type: compute.v1.instanceTemplate
  properties:
    zone: {{ properties["zone"] }}
    properties:
      serviceAccounts: 
      - email: {{ BASTION_VM_SA }}@{{ env['project'] }}.iam.gserviceaccount.com
        scopes:
        - https://www.googleapis.com/auth/compute
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/devstorage.full_control
        - https://www.googleapis.com/auth/cloud-platform
      tags:
        items:
        - bastion-machine
        - allow-ssh-rpd
        - {{ deployment }}
      machineType: {{ properties["machineType"] }}
      networkInterfaces:
      - network: {{ properties["network"] }}
        subnetwork: {{ properties["subnet"] }}
        accessConfigs:
        - name: External NAT
          type: ONE_TO_ONE_NAT
      disks:
      - deviceName: boot
        type: PERSISTENT
        boot: true
        autoDelete: true
        diskType: pd-ssd
        diskSizeGb: 30
        mode: READ_WRITE
        initializeParams:
          diskName: {{ deployment }}-vm-disk
          sourceImage: {{ properties["machineImage"] }}
      metadata:
        items:
        - key: startup-script
          value: |
            #!/bin/bash
            #### Log the execution to a file ####
            exec 3>&1 4>&2
            trap 'exec 2>&4 1>&3' 0 1 2 3 RETURN
            exec 1>/var/log/configure-bastion.log 2>&1

            set -x
            
            #install kubectl
            curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl
            kubectl version --client

            #mount filestore
            sudo yum -y update && sudo yum -y install nfs-utils
            sudo mkdir -p /mnt/boominfs
            sudo mount  {{ properties["ipaddress"] }}:/boomifileshare /mnt/boominfs
 
            #Get GKE credentials
            #gcloud container clusters get-credentials {{ CLUSTER_NAME }} --region={{ region }}

            #echo "gcloud container clusters get-credentials {{ CLUSTER_NAME }} --zone {{ region }} --project {{project}}" >> /etc/profile

- name: {{ deployment }}-igm
  type: compute.v1.regionInstanceGroupManager
  properties:
    name: {{ deployment }}-igm
    region: {{ region }}
    failoverAction: NO_FAILOVER
    targetSize: {{ properties["targetSize"] }}
    baseInstanceName: {{ bastionVM }}
    instanceTemplate: $(ref.{{ deployment }}-it.selfLink)

- name: {{ deployment }}-as
  type: compute.v1.regionAutoscaler
  properties:
    region: {{ region }}
    target: $(ref.{{ deployment }}-igm.selfLink)
    autoscalingPolicy:
      maxNumReplicas: 2
      minNumReplicas: 1
      cpuUtilization:
        utilizationTarget: 0.8
      coolDownPeriodSec: 90
