{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set CLUSTER_NAME = deployment + '-gke-cluster' %}
{% set CommonTags = properties["CommonTags"] %}
{% set VM_OAUTH_SCOPES = ['https://www.googleapis.com/auth/cloud-platform'] %}
{% set BOOMI_SA = properties["boomisa"] %}


resources:
- name: {{ CLUSTER_NAME }}
  {% if properties['gkeApiVersion'] == 'v1beta1' %}
  type: gcp-types/container-v1beta1:projects.locations.clusters
  {% else %}
  type: container.v1.cluster
  {% endif %}
  properties:
    parent: projects/{{ env['project'] }}/locations/{{ properties['region'] }}
    # zone: {{ properties['zone'] }}
    cluster:
      name: {{ CLUSTER_NAME }}

      network: {{ properties["network"] }}
      subnetwork: {{ properties["subnet"] }}

      initialClusterVersion: 1.17.12-gke.1501
      currentMasterVersion: 1.17.12-gke.1501

      loggingService: logging.googleapis.com/kubernetes
      monitoringService: monitoring.googleapis.com/kubernetes

      addonsConfig:
        httpLoadBalancing:
          disabled: false
        horizontalPodAutoscaling:
          disabled: true
        gcePersistentDiskCsiDriverConfig:
          enabled: false

      resourceLabels: {{ properties["CommonTags"] }}
      autoscaling:
        enableNodeAutoprovisioning: true
        resourceLimits: 
        - resourceType: cpu
          minimum: 1
          maximum: 10
        - resourceType: memory
          minimum: 1
          maximum: 20
        autoprovisioningNodePoolDefaults:
          serviceAccount: {{ BOOMI_SA }}
          oauthScopes: {{ VM_OAUTH_SCOPES }}
      networkPolicy:
        provider: CALICO
        enabled: true
      maintenancePolicy:
        window:
          recurringWindow:
            window:
              startTime: "2020-11-01T07:00:25Z"
              endTime: "2021-11-01T07:00:25Z"
            recurrence: "FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU"
      workloadIdentityConfig:
        workloadPool: {{ env['project'] }}.svc.id.goog

      {#% if properties['gkeApiVersion'] == 'v1beta1' %}
      podSecurityPolicyConfig:
        enabled: {{ properties['securityConfig']['podSecurityPolicy'] }}
      {% endif %#}

      {% if properties['securityConfig']['privatecluster'] %}
      ipAllocationPolicy:
        createSubnetwork: false
        useIpAliases: true
      masterIpv4CidrBlock: {{ properties['securityConfig']['masterIpv4CidrBlock'] }}
      masterAuthorizedNetworksConfig: {{ properties['securityConfig']['masterAuthorizedNetworksConfig'] }}
      privateCluster: {{ properties['securityConfig']['privatecluster'] }}
      privateClusterConfig:
        enablePrivateEndpoint: {{ properties['securityConfig']['privatecluster'] }}
        enablePrivateNodes: {{ properties['securityConfig']['privatecluster'] }}
      {% endif %}

      nodePools:
      - name: {{ CLUSTER_NAME }}-node-pool-1
        version: 1.17.12-gke.1501
        config:
          labels:
            topology.kubernetes.io/region
        autoscaling:
          enabled: true
          minNodeCount: {{ properties["minNodeCount"] }}
          maxNodeCount: {{ properties["maxNodeCount"] }}
        initialNodeCount: {{ properties["desiredNodeCount"] }}
        management:
          autoUpgrade: true
          autoRepair: true
        config:
          {% if properties['securityConfig']['secureNodeMetadata'] %}
          workloadMetadataConfig:
            nodeMetadata: SECURE
          {% endif %}
          machineType: {{ properties["gkeMachineType"] }}
          diskSizeGb: 20
          oauthScopes: {{ VM_OAUTH_SCOPES }}
          serviceAccount: {{ BOOMI_SA }}


outputs:
- name: gkeClusterName
  value: $(ref.{{ CLUSTER_NAME }}.name)