{% macro GenerateManifest(username, password, account) -%}
apiVersion: v1
kind: Secret
metadata:
  name: boomi-secret
type: Opaque
stringData:
  username: {{ username }}
  password: {{ password }}
  account: {{ account }}
{%- endmacro -%}
