{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set CLUSTER_NAME = properties["CLUSTER_NAME"] %}

resources:
- name: boomi-cloudbuild
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    runtimePolicy:
    - UPDATE_ALWAYS
  properties:
    timeout: 120s
    steps:
    - id: git_clone
      name: 'gcr.io/cloud-builders/git'
      args:
      - clone
      - https://github.com/vilvamani/gcp-deployment-manager.git

    - id: 'build_image'
      name: 'gcr.io/cloud-builders/docker'
      args: ['build', '--tag=gcr.io/$PROJECT_ID/helm:${_HELM_VERSION}', '--tag=gcr.io/$PROJECT_ID/helm:latest', '--build-arg', 'HELM_VERSION=v${_HELM_VERSION}', '.']
      dir: gcp-deployment-manager/kubernetes
      waitFor: [git_clone]

    - id: helm_repo_update
      name: 'gcr.io/$PROJECT_ID/helm:latest'
      args: 
        - repo
        - add
        - stable
        - https://kubernetes-charts.storage.googleapis.com
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
        - HELM_REPO_URL=https://kubernetes-charts.storage.googleapis.com
      waitFor: [build_image]

    - id: helm_list
      name: 'gcr.io/$PROJECT_ID/helm:latest'
      args: 
        - repo
        - list
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
      waitFor: [helm_repo_update]

    - id: helm_nfs_deployment
      name: 'gcr.io/$PROJECT_ID/helm:latest'
      args: 
        - upgrade
        - --install
        - boomi-nfs
        - --set
        - nfs.server={{ properties["ipaddress"] }},nfs.path=/boomifileshare,storageClass.defaultClass=true,storageClass.reclaimPolicy=Retain,storageClass.accessModes=ReadWriteMany
        - stable/nfs-client-provisioner
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
        - HELM_REPO_NAME=stable/nfs-client-provisioner
      waitFor: [helm_list]

    - id: helm_boomi_deployment
      name: 'gcr.io/$PROJECT_ID/helm:latest'
      args: 
        - upgrade
        - --install
        - boomimolecule
        - --namespace
        - default
        - --set
        - secrets.username={{ properties["username"] }},secrets.password={{ properties["password"] }},secrets.account={{ properties["account"] }},volume.server={{ properties["ipaddress"] }},storage.reservedIpRange={{ properties["reservedIpRange"] }},storage.network={{ properties["network"] }},ingress.staticIpName={{ properties["ingress_staticIpName"] }}
        - '.'
      dir: gcp-deployment-manager/kubernetes/helm
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
      waitFor: [helm_nfs_deployment]

    - id: kubectl_hpa_deployment
      name: 'gcr.io/cloud-builders/kubectl'
      args: 
        - apply
        - --filename=./templates/boomi_molecule_gke_hpa.yaml
        - --validate=false
      dir: gcp-deployment-manager/kubernetes/helm
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
      waitFor: [helm_boomi_deployment]

    substitutions:
      _HELM_VERSION: 3.2.0
