{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set CLUSTER_NAME = properties["CLUSTER_NAME"] %}

resources:
- name: boomi-cloudbuild
  action: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create
  metadata:
    runtimePolicy:
    - UPDATE_ALWAYS
  properties:
    timeout: 120s
    steps:
    - id: git_clone
      name: 'gcr.io/cloud-builders/git'
      args:
      - clone
      - https://github.com/vilvamani/gcp-deployment-manager.git

    - id: 'build_image'
      name: 'gcr.io/cloud-builders/docker'
      args: ['build', '--tag=gcr.io/$PROJECT_ID/helm:${_HELM_VERSION}', '--tag=gcr.io/$PROJECT_ID/helm:latest', '--build-arg', 'HELM_VERSION=v${_HELM_VERSION}', '.']
      dir: gcp-deployment-manager/kubernetes

    - id: helm_deployment
      name: 'gcr.io/$PROJECT_ID/helm:latest'
      args: 
        - upgrade
        - --install
        - boomimolecule
        - --namespace
        - default
        - --set
        - secrets.username={{ properties["username"] }},secrets.password={{ properties["password"] }},secrets.account={{ properties["account"] }},volume.server={{ properties["ipaddress"] }}, storage.reserved-ipv4-cidr={{ properties["reserved-ipv4-cidr"] }}, storage.network={{ properties["network"] }}
        - '.'
      dir: gcp-deployment-manager/kubernetes/helm
      env:
        - CLOUDSDK_COMPUTE_REGION={{ region }}
        - CLOUDSDK_CONTAINER_CLUSTER={{ CLUSTER_NAME }}
        - KUBECONFIG=/workspace/.kube/config
      waitFor: [build_image]

    substitutions:
      _HELM_VERSION: 3.2.0