{% set COLLECTION_PREFIX = '/api/v1/namespaces/{namespace}/' %}
{% set NAMESPACE_COLLECTION = '/api/v1/namespaces/{name}' %}
{% set CM_COLLECTION = COLLECTION_PREFIX + 'configmaps' %}
{% set SECRET_COLLECTION = COLLECTION_PREFIX + 'secrets' %}
{% set RC_COLLECTION = COLLECTION_PREFIX + 'replicationcontrollers' %}
{% set SERVICE_COLLECTION = COLLECTION_PREFIX + 'services' %}
{% set PVC_COLLECTION = COLLECTION_PREFIX + 'persistentvolumeclaims' %}
{% set STATEFULSETS_COLLECTION = '/apis/apps/v1/namespaces/{namespace}/statefulsets' %}
{% set CLUSTER_ROLE_BINDING_COLLECTION = '/apis/rbac.authorization.k8s.io/v1/clusterrolebindings' %}

{#  Secret for bootstrapper. #}
- name: boomi-Secret
  type: {{ env['project'] }}/$(ref.{{ TYPE_NAME }}.name):{{ SECRET_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Secret
    metadata:
      name: boomi-secret
    type: Opaque
    stringData:
    username: abcde
    password: abcde
    account: abcde