{% set project = env["project"] %}
{% set deployment = env["deployment"] %}

{% set TYPE_NAME = deployment + '-type' %}

{% set SECRET_COLLECTION = '/api/v1/namespaces/{namespace}/secrets/{name}' %}

resources:

- name: default
  type: {{ env['project'] }}/$(ref.{{ TYPE_NAME }}.name):{{ SECRET_COLLECTION }}
  properties:
    apiVersion: v1
    kind: Secret
    metadata:
      name: boomi-secret
    type: Opaque
    stringData:
      username: abc
      password: abc
      account: abc
