{% set BOOMI_SA = properties["boomisa"] %}

resources:
- name: resource-manager-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: cloudresourcemanager.googleapis.com

- name: endpoints-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: endpoints.googleapis.com

- name: iam-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: iam.googleapis.com

- name: enable-gke-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: container.googleapis.com

- name: enable-gkeconnect-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: gkeconnect.googleapis.com

- name: enable-filestore-api
  action: 'gcp-types/servicemanagement-v1:servicemanagement.services.enable'
  properties:
    consumerId: {{ 'project:' + env['project'] }}
    serviceName: file.googleapis.com

{# Get the IAM policy first so that we do not remove any existing bindings. #}
- name: get-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.getIamPolicy
  properties:
    resource: {{ env['project'] }}
  metadata:
    dependsOn:
      - resource-manager-api
      - iam-api
    runtimePolicy:
      - UPDATE_ALWAYS

- name: patch-iam-policy
  action: gcp-types/cloudresourcemanager-v1:cloudresourcemanager.projects.setIamPolicy
  properties:
    resource: {{ env['project'] }}
    policy: $(ref.get-iam-policy)
    gcpIamPolicyPatch:
      add:
      - role: roles/container.admin
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
        - {{ 'serviceAccount:' + env['project_number'] + '@cloudservices.gserviceaccount.com' }}
      - role: roles/iam.serviceAccountUser
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      - role: roles/servicemanagement.admin
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      - role: roles/compute.instanceAdmin
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      - role: roles/storage.admin
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      - role: roles/logging.logWriter
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      - role: roles/monitoring.metricWriter
        members:
        - {{ 'serviceAccount:' +  BOOMI_SA }}
      remove: []
  metadata:
    dependsOn:
      - get-iam-policy
      - iam-api
    runtimePolicy:
      - UPDATE_ALWAYS
