{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set boomiSA = deployment + '-boomi-sa' %}

resources:
- name: {{ boomiSA }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ boomiSA }}
    projectId: {{ project }}
    displayName: Service Account used by boomi-molecule for admin actions.


outputs:
- name: BoomiSA
  value: $(ref.{{ boomiSA }}.email)