{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set BOOMI_SA = deployment + '-boomi-molecule' %}

resources:
- name: {{ BOOMI_SA }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ BOOMI_SA }}
    projectId: {{ project }}
    displayName: Service Account used by boomi-molecule for admin actions.


outputs:
- name: BoomiSA
  value: $(ref.{{ BOOMI_SA }}.email)